.heroSection {
	display: flex;
	flex-direction: column;
	gap: 3.125rem;
	position: relative;
	margin-bottom: 5rem;
	padding-bottom: 2.5rem;
	width: 100%;

	@include mqTablet() {
		margin-bottom: 7rem;
		flex-direction: row;
		justify-content: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		align-items: center;
		gap: 1.95rem;
	}

	@include mqDesktop() {
		margin-bottom: 10rem;
		gap: 4.83rem;
		padding-bottom: 0;
	}

	@include mqDesktopL() {
		gap: 3.64rem;
	}

	.heroTextWrapper {
		margin-top: 3.125rem;
		z-index: 20;
		@include mqTablet() {
			margin-top: 0;
		}
		h1 {
			position: relative;
			font-family: $primaryFont;
			font-size: 1.5rem;
			line-height: 2rem;
			font-weight: 600;
			word-spacing: 0.5rem;
			line-height: 2;

			@include mqTablet() {
				font-size: clamp(1.75rem, 3.4vw, 2.1rem);
				word-spacing: normal;
			}

			@include mqDesktop() {
				font-size: clamp(1.75rem, 3.4vw, 3rem);
			}

			span {
				color: $greenCyan;
				font-family: inherit;
				font-size: inherit;
				font-weight: inherit;
			}
		}
		h2 {
            font-weight: bold;
            font-size: 2rem;
            font-family: $primaryFont;
            line-height: 1;
            margin-bottom: 1.5rem;

            @include mqTablet() {
                font-size: 3rem;
                font-weight: 600;
            }

            @include mqDesktop() {
                font-size: clamp(3rem, 4.5vw, 4rem);
                margin-bottom: 2.5rem;
            }
		}
	}

    .imagesContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        z-index: 20;
    
        @include mqDesktop() {
            margin-top: 3%;
            height: 573px;
            overflow: hidden;
            column-gap: 1.75rem;
        }
    
        div {
            display: flex;
            flex-direction: column;
            row-gap: 2.5rem;
            @include mqDesktopL() {
                row-gap: 3.5625rem;
            }
            
            div {
                position: relative;
                width: clamp(9.6875rem, 10vw, 15rem);
                height: 10.5rem;
                @include mqTablet() {
                    width: clamp(9.875rem, 20.1vw, 16.875rem);
                    height: clamp(10.5rem, 21vw, 18.375rem);
                }
    
                img {
                    object-fit: cover;
                    border-radius: 0.25rem;
                    @include mqDesktop() {
                        border-radius: 0.625rem;
                    }
                }
            }
            &:nth-child(2) {
                margin-top: 0.875rem;
    
                @include mqDesktop() {
                    margin-top: 1.6875rem;
                }
    
                @include mqDesktopL() {
                    column-gap: 3.5625rem;
                }
            }
        }
    }
}


