.heroImage {
	position: absolute;
	width: 100vw;
	max-width: 100vw;
	height: calc(100% + 6rem);
	left: calc(clamp(1.25rem, 4.7vw, 1.875rem) * -1);
	top: 0;
	transform: translateY(calc(6rem * -1));
	z-index: 10;
	overflow: hidden;

	@include mqTablet() {
		left: calc(clamp(2.5rem, 5vw, 10.62rem) * -1);
	}

	@include mqDesktop() {
		transform: translateY(calc(9rem * -1));
		height: calc(100% + 9rem);
	}

	@include mqDesktopL() {
		left: -8.44rem;
	}

	.overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		background: #010a11;
		opacity: 0.96;
	}
}
