.navDesktop {
	display: none;
	position: relative;
	align-items: center;
	z-index: 20;
	justify-content: start;
	gap: 0;

	@include mqDesktopL() {
		justify-content: center;
	}

	@include mqDesktop() {
		display: flex;
	}

	ul {
		display: flex;
		gap: 2.5rem;
		align-items: center;
		justify-content: center;
		li {
			position: relative;
			overflow: hidden;
			a{
				height: calc(100% + 10px);
			}
			a::before, a::after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				width: 100%;
				height: 2px;
				transition: transform 0.45s;
				transform: translateX(-110%);
				background: $greenCyan;
			}
			a::after {
				top: 90%;
				transform: translateX(110%);
			}
			
			a:hover:before {
				transform: translateX(110%);
			}
			a:hover:after {
				transform: translateX(-110%);
			}
		}


		&:nth-child(1) {
			margin-left: auto;
			margin-right: 2.5rem;
			order: 2;

			@include mqDesktopL() {
				order: 1;
				margin: 0;
				margin-left: auto;
				flex-basis: 38%;
				justify-content: flex-end;
			}
		}

		&:nth-child(3) {
			margin-right: 0;
			order: 3;
			@include mqDesktopL() {
				justify-content: flex-start;
			}
		}
		@include mqDesktopL() {
			margin-left: 0;
			margin-right: 0;
			flex-basis: 38%;
		}
	}

	div {
		display: flex;
		justify-content: center;
		align-items: center;

		@include mqDesktop() {
			order: 1;
		}

		@include mqDesktopL() {
			flex-basis: 24%;
		}
	}
}

.navMobile {
	display: flex;
	justify-content: space-between;
	position: relative;
	justify-items: center;
	align-items: center;
	z-index: 50;

	@include mqDesktop() {
		display: none;
	}
}
