@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Oxanium:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: 'Inter';
}

body {
	background-color: #040d17;
	padding: clamp(1.25rem, 4.7vw, 1.875rem);
	max-width: 100%;
	overflow-x: hidden;
}

@media screen and (min-width: 768px) {
	body {
		padding: 1.25rem clamp(2.5rem, 5vw, 10.62rem);
	}
}

.hero-image {
}

/* @media screen and (min-width: ) {
	
} */
