$primaryFont: 'Oxanium';
$secondaryFont: 'Inter';

	$dGrey: #dbdbdb;
	$wGrey: #f5f5f5;
	$dBlueishGrey: #8296ab;
	$blueishGrey: #a7b4c3;
	$dBlue: #0a1f35;
	$wBlue: #173352;
	$greenCyan: #00eebd;

$fontWeights: (
	'light': 300,
	'regular': 400,
	'bold': 700,
);

$mobile: '375px';
$tablet: '768px';
$desktop: '1024px';
$desktopL: '1440px';
