.cardWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	border-radius: 0.63rem 0.63rem 0 0;
	background: linear-gradient(
		134deg,
		#071626 -7.75%,
		rgba(7, 22, 38, 0) 136.66%
	);
	@include mqTablet() {
		width: 48%;
	}

	@include mqDesktopL() {
		width: 23.125rem;
	}

	@media screen and (max-width: 764px) {
		&:nth-child(n + 4) {
			display: none;
		}
	}
}

.tournament {
	@include mqMaxDesktop() {
		&:nth-child(n + 5) {
			display: none;
		}
	}

	@include mqDesktopL() {
		&:nth-child(n + 7) {
			display: none;
		}
	}
}

.notTournament {
	@include mqMaxDesktop() {
		&:nth-child(n + 5) {
			display: none;
		}
	}

	@include mqDesktopL() {
		&:nth-child(n + 4) {
			display: none;
		}
	}
}



// relative h-[51.71vw]
//  tablet:max-h-[25vw] desktop:max-h-[194px] w-full max-h-[250px] desktopL:w-[23.125rem]

.imageWrapper{
	position: relative;
	height: 51.71vw;
	width: 100%;
	max-height: 15.625rem;

	@include mqTablet() {
		max-height: 25vw;
	}

	@include mqDesktop() {
		max-height: 12.125rem;
	}

	@include mqDesktopL() {
		width: 23.125rem;
	}
}